

.hero {
    background: url('../assets/images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    padding: 0 7vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15vh;
    align-items: center;
}

.header h1 {
    font-size: 8em;
    margin: 0;
}

.header h3 {
    font-size: 2em;
    margin: 0;
    line-height: 0em;
}

.btn {
    width: 11vw;
    height: 8vh;
    background: none;
    border: none;
    border-top: 2px solid #FFA62D;
    border-bottom: 2px solid #FFA62D;
    color: white;
    font-size: 1.2em;
    font-family: classicalromance;
    text-transform: uppercase;
    margin-top: 2vh;
    transition: all 300ms;
}

.btn:hover{
    background-color: #FFA62D;
    border-radius: 2px;
}

.description p{
    font-family: 'Open Sans', sans-serif;
    color: gray;
    text-align: left;
    width: 40vw;
    line-height: 1.5em;
    font-size: 1.2em;
}

.description h1 {
    font-size: 7em;
    text-align: left;
    margin: 6vh 0 0 0;
    color: #FFA62D;
}

.about img {
    height: 70vh;
}

.about {
    display: flex;
    flex-direction: row;
    background: url('../assets/images/pattern.png') no-repeat;
    background-size: contain;
    background-position-x: 9%;
    padding:6vh 10vw 6vh 10vw;
    justify-content: space-between;
}

@media (max-width:360px)  { 


    .hero {
        /* background: url('../assets/images/hero.png'); */
        background-repeat: no-repeat;
        height:80vh;
        padding: 0 7vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -5vh;
        align-items: center;
    }

    .header h1 {
        font-size: 4em;
        margin: 0;
    }

    .header h3 {
        font-size: 1.2em;
        margin: 0;
        line-height: 0em;
    }

    .btn {
        width: 40vw;
        height: 8vh;
        background: none;
        border: none;
        border-top: 2px solid #FFA62D;
        border-bottom: 2px solid #FFA62D;
        color: white;
        font-size: 1.2em;
        font-family: classicalromance;
        text-transform: uppercase;
        margin-top: 2vh;
        transition: all 300ms;
    }

    .btn:hover{
        background-color: #FFA62D;
        border-radius: 2px;
    }

    .description p{
        font-family: 'Open Sans', sans-serif;
        color: gray;
        text-align: center;
        line-height: 1.5em;
        font-size: 0.8em;
        width: 80vw;
        
    }

    .description h1 {
        font-size: 4em;
        text-align: center;
        margin: 1vh 0 0 0;
        color: #FFA62D;
    }

    .about img {
        height: auto;
        margin: 0;
    }

    .about {
        display: flex;
        flex-direction: column;
        background: none;
        background-size: contain;
        background-position-x: 9%;
        padding:6vh 10vw 6vh 10vw;
        justify-content: space-between;
    }
}
