@font-face {
  font-family: classicalromance;
  src: url(./assets/fonts/ClassicalRomance-Bold.ttf);
}

body {
  margin: 0;
  font-family: classicalromance;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */